@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

header {
    display: flex;
    background: deepskyblue;
    flex-direction: column;
    align-items: center;
}

.nav-toggle {
    display: none;
}

#js_menu {
    display: flex;
    justify-content: flex-end;
    /* flex-flow: row wrap; */
    list-style: none;
}

#js_menu a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    /* font-weight: 500; */
}

#js_menu a:hover {
    background: rgb(0, 158, 211);
}

.cover {
    position: relative;
}

.cover img{
    width: 100%;
    height: 58.5vh;
    object-fit: cover;
}

.cover .servername {
    /* background-color: brown; */
    position: absolute;
    top: 5%;
    left: 15%;
    width: 25%;
    /* height: auto; */
    color: white;
}

.cover .servername h1 {
    font-size: 4rem;
    text-align: center;
    /* font-weight: 500; */
    filter: drop-shadow(0px 0px 5px white);
}

.cover .btns {
    /* background-color: brown; */
    position: absolute;
    top: 50%;
    left: 15%;
    width: 25%;
    height: auto;
    text-align: center;
}

.btns .btn-download a{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 183, 0);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
}

.btns .btn-download a:hover {
    background-color: rgb(255, 217, 50);
    filter: drop-shadow(0px 0px 10px white);
}

.cover .btns .btn-sign {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* margin: 10px;
    padding: 20px; */
    /* background-color: rgb(30, 210, 45); */
    /* opacity: 30%; */
    margin-top: 1rem;
}

.cover .btns .btn-sign > div {
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgb(94, 94, 94);
    border-radius: 0.5rem;
    /* transition: 0.3s ease-in-out; */
    transition-duration: 0.4s !important;
}
.cover .btns .btn-sign > div a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.cover .btns .btn-sign > div:hover {
    background-color: rgb(0, 141, 141);
    filter: drop-shadow(0px 0px 10px white);
}

.content ,.rule .container {
    /* margin-top: 10px; */
    margin: 0px auto;
    width: 70%;
    height: auto;
    padding: 1rem;
    /* background-color: crimson; */
    /* text-align: center; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content .area-content ,.rule .area-rule{
    /* margin: 10px 10px 0px 0px; */
    /* padding: 1rem; */
    text-align: center;
    /* background-color: aqua; */
    padding: 0.5rem;
    height: 100%;
    width: 30%;
    /* margin-top: 10px; */
}

.content .area-content i ,.rule .container i {
    font-size: 300%;
    color: gray;
}

.content .area-content h1 ,.rule .area-rule h1{
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.content .area-content p ,.rule .area-rule p {
    margin-top: 5px;
    font-size: 13px;
}

.rule {
    background-color: beige;
}

.rule .header {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    /* color: white; */
}

footer {
    height: 3rem;
    background-color: rgb(117, 117, 117);
    margin: 0px 0px 0px 0px;
}

footer .data_footer p {
    text-align: center;
    padding-top: 1rem;
    color: white;
}

@media only screen and (max-width:820px) {

    header .nav-toggle {
        display: flex;
        cursor: pointer;
    }

    ul li {
        display: none;
    }

    .active {
        display: flex;
    } 

    .cover img{
        width: 100%;
        height: 30vh;
    }

    .cover .servername {
        top: 10%;
        left: 5%;
        width: 25%;
    }

    .cover .servername h1 {
        font-size: 2rem;
    }

    .cover .btns {
        display: none;
    }

    .content ,.rule .container {
        margin: 1rem auto;
        width: 100%;
        padding: 0rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .content .area-content ,.rule .area-rule{
        margin: 0px 0px 0px 0px;
        text-align: center;
        padding: 0rem;
        height: 100%;
        width: 30%;
    }
    
    .content .area-content i ,.rule .container i {
        font-size:150%;
        color: gray;
    }
    
    .content .area-content h1 ,.rule .area-rule h1{
        font-size: 20px;
        text-align: center;
    }
    
    .content .area-content p ,.rule .area-rule p {
        font-size: 10px;
    }
    
    .rule {
        background-color: beige;
    }

    .rule .container {
        margin: 0;
    }
    
    .rule .header {
        padding: 5px;
        font-size: 1rem;
        text-align: center;
    }
}